#admin-panel.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#admin-panel.navbar-default {
    font-size: 14px;
    background-color: rgba(179, 25, 25, 1);
    border-width: 0px;
    border-radius: 0px;
}
#admin-panel.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(201, 16, 16, 1);
}
#admin-panel.navbar-default .navbar-nav>li>a:hover,
#admin-panel.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(145, 14, 14, 1);
}
#admin-panel.navbar-default .navbar-nav>.active>a,
#admin-panel.navbar-default .navbar-nav>.active>a:hover,
#admin-panel.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 5, 5, 1);
}
#admin-panel.navbar-default .navbar-toggle {
    border-color: #ff0505;
}
#admin-panel.navbar-default .navbar-toggle:hover,
#admin-panel.navbar-default .navbar-toggle:focus {
    background-color: #ff0505;
}
#admin-panel.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff0505;
}
#admin-panel.navbar-default .navbar-toggle:hover .icon-bar,
#admin-panel.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #b31919;
}